.active {
	background-color: #232B2B;
	&.item {
		.icon, .text {
			color: #11CD99;
		}	
	}
}

.item {
	color: #11CD99;
	&:hover {
		background-color: #232B2B;
		.icon, .text {
			color: #11CD99;
		}
	}
	.icon, .text {
		color: white;
	}
}