@import "../../theme.scss";

.navbar {
    background-color: var(--white);
    padding: 2em;
}

.logo {
    text-decoration: none;
    font-weight: 900;
    color: var(--dark-green);
    span {
        color: #11CD99;
    }

    @media (max-width: 1400px) {
        font-size: 2rem;
        margin-right: 1em;
    }
}

.toolbar {
    @media (max-width: 900px) {
        display: inline-flex;
    }
}
